# Node modules
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Build artifacts
build/
android/app/build/
ios/build/
ios/Pods/

# Native code
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.xcworkspace
*.xcuserstate
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata

# Metro bundler
.metro-health-check*
*.lock

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store
*.pem

# Local environment files
.env*
.env*.local

# TypeScript
*.tsbuildinfo

# IDE/editor-specific
.vscode/
.idea/
*.iml

# Others
app-example
